<div align="center">

    <h1 *ngIf="!form.data.id" align="center">Add Role</h1>
    <h1 *ngIf="form.data.id>0" align="center">Update Role</h1>

    <h3 style="color: green;" *ngIf="!form.error && form.message">{{form.message}}</h3>
    <h3 style="color: red;"*ngIf="form.error && form.message">{{form.message}}</h3>
    <form (submit)="submit()">

        <table>

             <tr>
            <th align="left">Name<span style="color: red">*</span></th>
            <td align="center"><input type="text" name="name" [(ngModel)]="form.data.name" placeholder="Enter Role Name"></td>
            <td style="position: fixed; color: red;">{{form.inputerror.name}}</td>
        </tr>

            <tr>
            <th align="left">Description<span style="color: red">*</span></th>
            <td align="center">
                <textarea 
                    style="width: 165px; resize: none;" 
                    name="description" 
                    [(ngModel)]="form.data.description"
                    rows="3" 
                    placeholder="Enter Short description">
                </textarea>
            </td>
            <td style="position: fixed; color: red;">{{form.inputerror.description}}</td>
        </tr>

            <tr>
                <th></th>
                <button (click)="submit()">Save</button>
            </tr>

        </table>

    </form>

</div>