<div align="center">

    <h1 *ngIf="!form.data.id" align="center">Add Role</h1>
    <h1 *ngIf="form.data.id>0" align="center">Update Role</h1>

    <h3 style="color: green;" *ngIf="!form.error && form.message">{{form.message}}</h3>
    <h3 style="color: red;"*ngIf="form.error && form.message">{{form.message}}</h3>
    <form (submit)="submit()">

        <table>

            <tr>
                <th>Name:</th>
                <td><input type="text" name="name" [(ngModel)]="form.data.name" placeholder="Enter Role Name"></td>
                <td style="color: red;">{{form.inputerror.name}}</td>
            </tr>

            <tr>
                <th>Descrption:</th>
                <td><input type="text" name="description" [(ngModel)]="form.data.description"
                        placeholder="Enter Role Description"></td>
                <td style="color: red;">{{form.inputerror.description}}</td>
            </tr>

            <tr>
                <th></th>
                <button (click)="submit()">Save</button>
            </tr>

        </table>

    </form>

</div>